.highlight {
    height: 100vh;
    background-image: url(https://i.imgur.com/IPVUdwy.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.picture {
    position: absolute;
}

.six {
    height: 55vh;
    top: 120vh;
    left: 27vw;
    z-index: 3;
}

.five {
    width: 25vw;
    left: 17vw;
    top: 152vh;
    z-index: 5;
}

.four {
    width: 30vw;
    top: 105vh;
    left: 63vw;
    z-index: 2;
}

.three {
    top: 105vh;
    left: 25vw;
    height: 50vh;
    z-index: 4;
}

.two {
    top: 113vh;
    left: 10vw;
    height: 45vh;
    z-index: 6;
}

.one {
    top: 140vh;
    left: 70vw;
    height: 40vh;
    z-index: 7;
}