.centered {
    justify-content: space-between;
}

.wide {
    width: 100%;
}

.nav {
    background-color: blueviolet;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    font-size: 25px;
  
    padding: 0px;
    margin: 0px;
  }

  .logo {
    height: 50px;
    padding: 10px;
  }