.centered {
  justify-content: space-between;
}

.wide {
  width: 100%;
}

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  font-size: 25px;

  padding: 0px;
  margin: 0px;

  z-index: 10;

  color: black;
  background-color: whitesmoke;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, .5);
}

.logo {
  height: 30px;
  padding: 10px;
}

.burger {
  height: 30px;
  padding: 10px;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, .3);
}

.burg {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 50px;
  padding-left: 0px;
  padding-right: 20px;
  background-color: whitesmoke;
  text-align: left;
}

.nav ul li {
  list-style-type: none;
  padding-right: 10px;
}

.burg-open {
  display: inline;
  animation-duration: 1s;
  animation-name: slide-in;
}

.burg-closed {
  animation-duration: 1s;
  animation-name: slide-out;
  display: none;
}

.socials {
  display: inline;
}

.icon {
  max-width: 40px;
  margin: 5px;
}

.mid {
  display: flex;
}

/* Tablet Responiveness */
@media only screen and (max-width:1200px) {
  .element4 {
    display: none;
  }

  .element1 {
    order: 1
  }

  .element2 {
    order: 3
  }

  .element3 {
    order: 2
  }
}

.vh-align {
  margin: auto 0 auto 0;
}

/* Mobile Responiveness */
@media only screen and (max-width:600px) {
  .socials {
    display: none;
  }
}

/* Animations for Burger Menu */
@keyframes slide-in {
  from {
    translate: 300px 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slide-out {
  from {
    translate: 0 0;
    display: inline;
  }

  to {
    translate: 300px 0;
    display: none;
  }
}